* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    background-image:url('back1.html');
    
}

.navbar {
    height: 70px;
    width: 100%;
    padding: 19px 30px;
    background-color: #ffa200;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: sticky;
    top: 0;
}

.navbar .nav-header {
    display: inline;
}

.navbar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
}

.nav-logo {
    font-size: 30px;
    color: #ffffff;
}

.navbar .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}


.navbar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
}

/* Hover effects */
.navbar .nav-links a:hover {
    border-bottom: #ffffff 2px solid;
}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
    display: none;
}



/* Dropdown menu CSS code */
.dropdown {
    position: relative;
    display: inline-block;
}

.drop-content,
.drop-content2 {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    font-size: 16px;
    top: 34px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

/* on hover show dropdown */
.dropdown:hover .drop-content,
.dropdown2:hover .drop-content2 {
    display: block;
}

/* drondown links */
.drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid rgb(197, 197, 250);
    display: block;
    transition: all 0.5s ease !important;
}

.dropBtn .drop-content a:hover {
    background-color: rgb(247, 0, 0);
}

.dropdown:hover .dropBtn,
.dropdown2:hover .dropBtn2 {
    background-color: white;
    color: #000;
}

.dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
}

.dropBtn2 i {
    margin-left: 15px;
}

/*HEADER*/
header {
    display: flex;
    font-size: 22px;
    margin: 90px;
}

.text1 p {
    margin-bottom: 10px;
}
.text1 h1 {
    font-family: 'Franklin Gothic Medium';
}

.Btn {
    background-color: #000;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.Btn:hover {
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    border: 2px solid #ffa200;
}


/*SERVICES*/
section .services {
    display: flex;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

section .services .serv {
    margin-right: 25px;
    background-color: #fff;
    padding: 30px;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 7px;
}

section .services .serv li {
    margin-bottom: 10px;
    background-color: #ffa200;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

section .services .serv li i {
    font-size: 15px;
    color: #000;
    font-weight: 800;
}

section .services .serv h3 {
    text-align: center;
    color: #000;
    font-size: 25px;
    margin-bottom: 5px;
}

/*CHIFFRES*/
section .chiffres {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

section .chiffres .chiff {
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 10px 30px;
    margin-right: 15px;
    text-align: center;
    border-radius: 7px;
    width: 200px;
}

section .chiffres .chiff i {
    font-size: 50px;
    color: #ffa200;
}

.sommes {
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    font-size: 25px;
    font-family: 'Segoe UI';
}
.vog{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.vog .artc{
    background-color: #fff;
    margin-right: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 4px;
    padding: 20px;
    font-size: 18px;
    height: 480px;
}
.vog .artc img{
    width: 100%;
}
.vog .artc a{
text-decoration: none;
}
.vog .artc i{
    margin-right: 10px;
    font-size: 23px;
    color: #ffa200;
    float: right;
}

footer {
    background-color: #ffa200;
    color: #FFF;
    padding: 15px;
}
footer .icon{
    justify-content: center;
    display: flex;
}

footer .icon a{
    display: flex;
    font-size: 25px;
    margin-top: 9px;
    margin-left: 10px;
    text-decoration: none;
    color: #ffa200;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 5px;
}
footer .icon a:hover{
    color: #ffa200;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px;
}
footer .news{
    display: flex;
}
footer .news .first{
    font-size: 20px;
    width: 80%;
    margin: 60px;
    border-right: 3px solid #000000;
}
form input {
    height: 35px;
    border-radius: 4px;
    border: #ccc;
    color: #000000;
    padding: 5px;
    outline: 0;
    background-color: rgb(255, 255, 255);
}

footer h2 {
    text-align: center;
    margin-right: 50px;
    color: #000000;
}

@media (max-width:700px) {

    .navbar .nav-btn {
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .navbar .nav-btn label {
        display: inline-block;
        width: 80px;
        height: 70px;
        padding: 25px;
    }

    .navbar .nav-btn label span {
        display: block;
        height: 10px;
        width: 25px;
        border-top: 2px solid rgb(255, 255, 255);
    }

    .navbar .nav-btn label:hover,
    .navbar #nav-check:checked~.nav-btn label {
        background-color: rgb(0, 0, 0);
        transition: all 0.5s ease;
    }

    .navbar .nav-links {
        position: absolute;
        display: block;
        text-align: center;
        width: 50%;
        background-color: rgb(0, 0, 0);
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        right: 0px;
    }

    .navbar .nav-links a {
        display: block;
    }

    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    /* when nav toggle button is checked */
    .navbar #nav-check:checked~.nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }


    /* Responsive dropdown code */
    .navbar .nav-links .dropdown,
    .navbar .nav-links .dropdown2 {
        float: none;
        width: 100%;
    }

    .navbar .nav-links .drop-content,
    .navbar .nav-links .drop-content2 {
        position: relative;
        background-color: #ffa200;
        top: 0px;
        left: 0px;
    }

    /* Text color */
    .navbar .nav-links .drop-content a {
        color: rgb(0, 0, 0);
    }

    header {
        max-width: 700px;
        display: block;
        text-align: justify;
        margin: 20px;
        margin-bottom: 10px;
    }

    header img {
        display: block;
        margin: auto;
        width: 90%;
    }

    section .services {
        display: block;
        width: 90%;
    }

    section .services .serv {
        margin-bottom: 17px;
        width: 100%;
    }

    section .services .serv img {
        display: block;
        margin: auto;
    }

    section .chiffres {
        display: block;
    }

    section .chiffres .chiff {
        margin: auto;
        width: 90%;
        margin-bottom: 7px;
    }

    .sommes {
        display: block;
    }

    .sommes .text2 {
        max-width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }

    .sommes img {
        display: block;
        margin: auto;
        width: 90%;
    }

    .vog{
        justify-content: center;
       display: block;
      
    }
    .vog .artc{
        margin-bottom: 15px;
        width: 100%;
     }
    .vog .artc img{
        width: 100%;
     }
    footer{
        display: block;
    }
    footer .news{
        display: block;
        width: 90%;
    }
    footer .news .first{
        width: 100%;
        margin: 10px;
    }
    footer .icon{
        display: flex;
        justify-content: center;
    }
    footer .icon a{
        display: flex;
        font-size: 25px;
        margin-top: 9px;
        margin-left: 10px;
        text-decoration: none;
        color: #ffa200;
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
        padding: 5px;
    }

}